<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/indexx.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="thuc-sheet row">
            <div class="row">
                <article class="col-3 ms-auto mt-5">
                    <div class="card" style="width: 20rem">
                        <div class="card-header">
                            <div class="col-md-12">
                                <h2 class="grid-title"><i class="fa fa-filter"></i>Filters</h2>
                                <hr />
                                <h4>By category:</h4>
                                <div class="checkbox">
                                    <label
                                    ><input type="checkbox" class="icheck" /> Application</label
                                    >
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck" /> Design</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck" /> Desktop</label>
                                </div>
                                <div class="checkbox">
                                    <label
                                    ><input type="checkbox" class="icheck" /> Management</label
                                    >
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck" /> Mobile</label>
                                </div>
                                <div class="padding"></div>
                                <h4>By date:</h4>
                                From
                                <div
                                        class="input-group date form_date"
                                        data-date="2014-06-14T05:25:07Z"
                                        data-date-format="dd-mm-yyyy"
                                        data-link-field="dtp_input1"
                                >
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon bg-blue"
                                    ><i class="fa fa-th"></i
                                    ></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="" />
                                To
                                <div
                                        class="input-group date form_date"
                                        data-date="2014-06-14T05:25:07Z"
                                        data-date-format="dd-mm-yyyy"
                                        data-link-field="dtp_input2"
                                >
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon bg-blue"
                                    ><i class="fa fa-th"></i
                                    ></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" />
                                <div class="padding"></div>
                                <h4>By price:</h4>
                                Between
                                <div id="price1">$300</div>
                                to
                                <div id="price2">$800</div>
                                <div class="slider-primary">
                                    <div class="slider slider-horizontal" style="width: 152px">
                                        <div class="slider-track">
                                            <div
                                                    class="slider-selection"
                                                    style="left: 30%; width: 50%"
                                            ></div>
                                            <div class="slider-handle round" style="left: 30%"></div>
                                            <div class="slider-handle round" style="left: 80%"></div>
                                        </div>
                                        <div
                                                class="tooltip top hide"
                                                style="top: -30px; left: 50.1px"
                                        >
                                            <div class="tooltip-arrow"></div>
                                            <div class="tooltip-inner">300 : 800</div>
                                        </div>
                                        <input
                                                type="text"
                                                class="slider"
                                                value=""
                                                data-slider-min="0"
                                                data-slider-max="1000"
                                                data-slider-step="1"
                                                data-slider-value="[300,800]"
                                                data-slider-tooltip="hide"
                                        />
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label
                                    ><input type="checkbox" class="icheck" /> Application</label
                                    >
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck" /> Design</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck" /> Desktop</label>
                                </div>
                                <div class="checkbox">
                                    <label
                                    ><input type="checkbox" class="icheck" /> Management</label
                                    >
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck" /> Mobile</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <aside class="col-9 mt-5">
                    <div class="row">
                        <div class="col-sm-4 mt-5 thuchover" th:each="item, iterStat : ${productList}">
                            <div class="card" style="width: 18rem;">
                                <img th:src="@{'/api/thuc/productDetail/images/' + ${item.thumbnail}}" class="card-img-top" alt="..." style="height: 200px; width: 100%;">
                                <div class="card-body">
                                    <form th:action="@{'/api/thuc/orderdetail'}" method="post">
                                        <h5 class="card-title" th:text="${item.name}"></h5>
                                        <h3 class="card-title" th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 2, 'POINT')}"></h3>
                                        <!-- Sử dụng một phần tử input hidden để gửi giá trị price -->
                                        <input type="hidden" th:name="price" th:value="${item.price}" />

                                        <input type="hidden" th:id="orderId" th:name="orderId" th:value="${orderId.id}" th:if="${orderId != null}"/>
                                        <!-- Sử dụng một phần tử input hidden để gửi giá trị productDetailId -->
                                        <input type="hidden" th:name="productDetailId" th:value="${item.id}" />
                                        <!-- Số lượng sản phẩm mặc định là 1 -->
                                        <input type="hidden" th:name="numberOfProduct" th:value="1" />
                                        <!-- Sử dụng một phần tử input hidden để gửi giá trị totalMoney -->
                                        <input type="hidden" th:name="totalMoney" th:value="${item.price}" />

                                        <button class="btn btn-dark" type="submit">Thêm Vào Giỏ</button>
                                        <!-- Link để xem chi tiết sản phẩm -->
                                        <a href="#" class="btn btn-dark">Xem Chi Tiết</a>
                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <!-- Liên kết trang trước -->
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/dssp?page=' + ${currentPage - 1}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <!-- Tạo liên kết cho mỗi trang -->
                            <th:block th:each="pageNumber : ${#numbers.sequence(0, totalPage - 1)}">
                                <li class="page-item" th:class="${pageNumber == currentPage ? 'active' : ''}">
                                    <a class="page-link" th:href="@{'/dssp?page=' + ${pageNumber}}" th:text="${pageNumber + 1}"></a>
                                </li>
                            </th:block>

                            <!-- Liên kết trang kế tiếp -->
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/dssp?page=' + ${currentPage + 1}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>

            </div>
        </div>
    </div>

</div>

</body>
</html>